<h2>Login Component</h2>

<form #loginForm="ngForm" name="loginForm" (ngSubmit)="Login(loginForm)">
    <div>
        <label>Enter Name : </label>
        <input type="text" name="name" [(ngModel)]="model.name"
        #name="ngModel" required/>
        <span *ngIf="name.errors?.required">Name has to be entered</span>
    </div>
    <div>
        <label>Enter Password : </label>
        <input type="password" name="pwd" [(ngModel)]="model.pwd"
        #pwd="ngModel" required/>
        <span *ngIf="pwd.errors?.required">Password has to be entered</span>
        <br>
    </div>
    <div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>
</form>
