<h2>Show All Employees</h2>
<table border="1">
    <tr>
        <th>EmpID</th>
        <th>EmpName</th>
        <th>Desg</th>
        <th>Dept</th>
        <th>Salary</th>
        <th>ProjID</th>
        <th>Password</th>
    </tr>
    <tr *ngFor="let data of empData">
        <td>{{data.EmpID}}</td>
        <td>{{data.EmpName}}</td>
        <td>{{data.Dept}}</td>
        <td>{{data.Desg}}</td>
        <td>{{data.Salary}}</td>
        <td>{{data.projid}}</td>
        <td>{{data.password}}</td>
    </tr>
</table>